.post {
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 200px;
  border: 2px solid steelblue;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

div.name {
  color: steelblue;
  text-align: left;
}
