.reply {
  max-width: 500px;
  overflow: auto;
  min-height: 150px;
  border-left: 1px solid grey;
  padding: 20px;
}

h2.replyTitle {
  text-align: left;
}

h3.name {
  text-align: left;
  color: steelblue;
}

div.reply {
  margin-top: 45px;
}
