.reply {
  max-width: 500px;
  overflow: auto;
  min-height: 100px;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  padding: 10px;
}

h2.replyTitle {
  text-align: left;
}

h3.name {
  text-align: left;
  color: steelblue;
}

div.reply {
  margin-top: 39px;
}
